/*
!! check/make consistent with ../js/media.js

media queries: 
https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries
INFO: full HD =1080p (1920×1080 px), aspect ratio 5/3; 
*/






/*#############################################################*/
/* basic settings for all aspect ratios */
/*#############################################################*/


/* general links */

a {
	color: #07A;
	font-weight: normal;
 }

a:link {
	color: #07A;
	text-decoration: none;
}

a:visited {
	color: #957;
	text-decoration: none;
}

a:active {
	text-decoration: underline;
	background-color: #F80;
}

a:hover {
	text-decoration: underline;
	color: #07A;
}


/* general tables ( some specific fonts in the aspect reatio sections) */

td.important{
  font-weight: bold; 
  color: #dd0033;
}


table.infoTable {
   border-collapse: collapse;
   color: rgb(205,0,0);
   background-color: rgba(255,255,255,0.7);
}
table.infoTable td {
   border: 1px ridge rgb(0,0,0);
   color: rgb(205,0,0);
}

table.mainTable {
    border: 0px;
    border-collapse: collapse; /* cellspacing,-padding DOS */
}

table.mainTable td,th {
   padding: 3px;
}

table.infoGenTable {
   border-collapse: collapse;
   border: 1px ridge rgb(0,0,0);
   color: rgb(0,0,0);
}
table.infoGenTable td,th {
   padding: 4;
   border: 1px ridge rgb(0,0,0);
}


table.impressumTable {
   border-collapse: collapse;
   background-color: rgba(255,255,255,0.7);
}
table.impressumTable td {
   border: 1px ridge rgb(0,0,0);
}



/* suppresses borders on images used as links */

img {
    border-width: 0;
}



/*#############################################################*/
/* basic settings for landscape formats (=default)*/
/* !! consolidate with js/gui.js -> isLandscape */
/*#############################################################*/

/* @media all and  (min-aspect-ratio: 1/1){ */
@media all{


/* (0) landscape: textual elements */

    
body{
    /*overflow: hidden;*/  /* Hide scrollbars */

  margin: 0;
  padding: 0;
  /*overflow-x: hidden;*/ /* remove horizontal scrollbar */
  font-family: 'helvetica', sans-serif;
                 /*font-size: 14px;*/
  font-size: 1.3vw;
  /*text-align: center;*/
  color: #000000;   /* text color */
  background-color: #FFFFFF;
}


 h1{
     font-family: helvetica, sans-serif;
     font-size: 2.3vw;
     font-weight: bold;
     color: #448;
     padding-top:0px;
 }

 h2{
     font-family: helvetica, sans-serif;
     font-size: 1.7vw;
     font-weight: bold;
     color: #448;
     margin-top:1.5vw;
     margin-bottom: 1vw;
 }
 
 h3{
     font-family: helvetica, sans-serif;
     font-size: 1.5vw;
     font-weight: bold;
     font-style: italic;
     color: #448;
     padding-top:0.3vw;
     margin-bottom: 0px;
 }




/* text layout of sliders: tables override general text spec) */

th{                    /* only used in infotext */
  font-size: 1.5vw;
  /*font-weight: bold; */

}

td{
  font-size:1.2vw; 
  /*font-weight: bold; */
}



/* ################################################################## */
/* (1) landscape: title and selectoing views */
/* ################################################################## */

/* title/header */

#header{
  position: absolute;
  top: -0.5vw;
  left: 10vw;
  /* font-size: 2.9vmin; size and weight overridden by h1*/
  z-index: 4; /* the higher the integer, the more on top */
}

/* position of the info button */

#infoDiv{
  position: absolute;
  top: 1vh;
  height: 4vw;
  left: 3vw;
  width: 3vw;
  z-index: 2; /* the higher the integer, the more on top */
}


/* select control and display (table elements relevant for font size) */

#toggleControlDiv{
  position: absolute;
  top: 5vw;
  left: 1vw;
  /* width, height here DOS, change at button,select{ */
  z-index: 4; /* the higher the integer, the more on top */
}

#toggleGraphicsDiv{
  position: absolute;
  top: 5vw;
  left: 22vw;
  /*width: 14vmin;*/ /* width DOS, control at button */
  /*height: 8vmin;*/
  z-index: 4; /* the higher the integer, the more on top */
}

button,select{    /* see also toggle control; select=combobox,choice */
    font-size: 1.5vw;
    width: 19vw;
    height: 4vw;
}


/* ################################################################## */
/* (2) landscape: first control panel layer: Supply/demand and energy mix */
/* ################################################################## */

#controlPanel1Div{ 
  position: absolute;
  top: 7vw;
  left: 1vw;
  width: 35vw;
  /*background-color: rgb(230,230,255);*/
  display: block;
  z-index: 1; /* the higher the integer, the more on top */
}



#merkelsmileys{
  position: absolute;
  top: 20vw;
  left: 32.5vw;
  /* DOS here; width controlled by image in javascript: */
  z-index: 0; /* the higher the integer, the more on top */
}

#raute{
  position: absolute;
  top: 24vw;
  left: 31vw;
  width: 7vw; /* works with "%" size in <img ...> in html */
  height: 5vw; /* DOS */
  z-index: 0; /* the higher the integer, the more on top */
}



/* ################################################################## */
/* (3) landscape: second control panel layer: strategy etc */
/* ################################################################## */

#controlPanel2Div{ /* Also contains info text for non-BaWue simulations!*/
  position: absolute;
  top: 7vw;
  left: 1vw;
  width: 38.5vw;
  /* background-color: rgb(230,230,255);*/
  display: none;  z-index: 3; /* the higher the integer, the more on top */
}

/* ################################################################## */
/* (4) landscape: textual sim output (below both control panels)   */
/* ################################################################## */

#generalInfo {
      position: absolute;
      border: 0px solid #ccc;
      padding: 8px;
      display: block;
      left: 2vw;
      top: 47vw;
      font-size: 1.3vw; 
      z-index: 0;
}
#infoImportExport {
      position: absolute;
      border: 0px solid #ccc;
      padding: 8px;
      display: block;
      left: 20vw;
      top: 47vw;
      font-size: 1.3vw;
      z-index: 0;
}

#CO2Info {
      position: absolute;
      border: 0px solid #ccc;
      padding: 8px;
      display: block;
      left: 20vw;
      top: 54.5vw;
      color: rgb(200,0,0);
      font-size: 1.5vw;
      font-weight: bold;
      z-index: 0;
}

#impressum{ 
  position: absolute;
  top: 59vw;  /* % takes care of scrollbars, vmin/vh not*/
  left: 10vw;
  width: 24vw;
  z-index: 1; /* the higher the integer, the more on top landscape */
}





/* ################################################################## */
/* (5) landscape: the graphics side                                   */
/* ################################################################## */



/* The container of the daily charts canvasses 1 and 3 */


#areaGraphics1, #areaGraphics3, #zoomInRegion{
  position: absolute;
  left:   40vw;
  top:   3vh;
  width:  59vw; 
  height: 47vh;
  margin-right: 0vw;
  margin-left: 0vw;
  z-index: 0;
}

/* The container of the hourly charts canvasses 2 and 4 */

#areaGraphics2, #areaGraphics4{
  position: absolute;
  left:   40vw;
  top:   50vh;
  width:  59vw; 
  height: 47vh;
  margin-right: 0vw;
  margin-left: 0vw;
  /*background-color: rgb(235,235,255);*/
  z-index: 0;
}

/* semi-transparent zoom region over areaGraphics1,3 */

#zoomInRegion{
  position: absolute;
  left:   40vw;     /* same as#areaGraphics1 */
  top:   0vh;
  width:  59vw; 
  height: 47vh;     /* reaches down to #areaGraphics2 */
  margin-right: 0vw;
  margin-left: 0vw;
  /*z-index: 0; */  /* DOS  falls andere Werte als =0 gesetzt! */
}

/* display data when clicking over areaGraphics1,3 */

#clickInfo{
      position: absolute;
      border: 1px solid #ccc;
      padding: 8px;
      display: none;
      background: white;
      box-shadow: 0 2px 6px rgba(0,0,0,0.2);
      z-index: 0;
}



/* ################################################################## */
/* (6) landscape: the separate info.html page                         */
/* ################################################################## */



#standaloneInfo {
      position: absolute;
      border: 0px solid #ccc;
      padding: 30px;
      display: block;
      overflow-y: auto;
      width:  50vw; 
      z-index: 0;
}



} /* end landscape */



/*#############################################################*/
/* basic settings for portrait formats
/* !! consolidate with js/gui.js -> isLandscape */
/*#############################################################*/

@media all and  (max-aspect-ratio: 1/1){  

/* (0) landscape: textual elements */

    
body{
  font-size: 2vw;
}


 h1{
     font-size: 3.3vw;
 }

 h2{
     font-size: 2.5vw;
     margin-top:2.5vw;
     margin-bottom: 2vw;
 }
 
 h3{
     font-family: helvetica, sans-serif;
     font-size: 2.1vw;
     margin-bottom: 0px;
 }




/* text layout of sliders: tables override general text spec) */

th{                 
  font-size: 2.2vw;
  /*font-weight: bold; */

}

td{
  font-size:2vw; 
  /*font-weight: bold; */
}


/* ################################################################## */
/* (1) portrait: title and selecting views */
/* ################################################################## */

/* position of the info button */

#infoDiv{
  top: 1vw;
  height: 6vw;
  left: 3vw;
  width: 6vw;
}


/* title/header */

#header{
  top: -0vw;
  left: 12vw;
  z-index: 4; /* the higher the integer, the more on top */
}


/* select control and display (table elements relevant for font size) */

#toggleControlDiv{
  top: 1vw;
  left: 45vw;
  z-index: 4; /* the higher the integer, the more on top */
}

#toggleGraphicsDiv{
  position: absolute;
  top: 1vw;
  left: 71vw;
  z-index: 4; /* the higher the integer, the more on top */
}

button,select{    /* see also toggle control; select=combobox,choice */
    font-size: 2.3vw;
    width: 23vw;
    height: 6vw;
}


/* ################################################################## */
/* (2) portrait: first control panel layer: Supply/demand and energy mix */
/* ################################################################## */

#controlPanel1Div{ 
  top: 6vw;
  left: 3vw;
  width: 55vw;
}


/* watch out; need to adapt size in graphics javaScript */

#merkelsmileys{
  top: 27vw;
  left: 46vw;
}

#raute{
  top: 33vw;
  left: 44vw;
  width: 10vw; /* works with "%" size in <img ...> in html */
  /* height: 7vw;*/ /* height DOS */
}


/* ################################################################## */
/* (3) portrait: second control panel layer: strategy etc */
/* ################################################################## */

#controlPanel2Div{ /* Also contains info text for non-BaWue simulations!*/
  top: 6vw;
  left: 3vw;
  width: 60vw;
}


/* ################################################################## */
/* (4) portrait: textual sim output (to side of both control panels)
/* ################################################################## */

#generalInfo { /* font size by table specs */
      left: 70vw;
      top: 25vw;
}
#infoImportExport {
      left: 69.5vw;
      top: 42vw;
}

#CO2Info {
      left: 74vw;
      top: 55vw;
      font-size: 2.4vw;
}

#impressum{ 
  position: absolute;
  top: 150vw;  /* % takes care of scrollbars, vmin/vh not*/
  left: 20vw;
  width: 40vw;
}





/* ################################################################## */
/* (5) portrait: the graphics side                                   */
/* ################################################################## */



/* The container of the daily charts canvasses 1 and 3 */


#areaGraphics1, #areaGraphics3{
  left:   1vw;
  top:   65vw;
  width:  98vw; 
  height: 60vw;
}

/* The container of the hourly charts canvasses 2 and 4 */

#areaGraphics2, #areaGraphics4{
  left:   1vw;
  top:   125vw;
  width:  98vw; 
  height: 60vw;
}

/* semi-transparent zoom region over areaGraphics1,3 (only top different)*/

#zoomInRegion{
  left:   5vw;     /* same as#areaGraphics1 */
  top:   67vw;
  width:  90vw; 
  height: 50vw;     /* reaches down to #areaGraphics2 */
  z-index: 0;   /* DOS  falls andere Werte als =0 gesetzt! */
}

/* display data when clicking over areaGraphics1,3 */
/* !!! watch out! need also adapt the graphics js code for positioning */

#clickInfo{
      border: 1px solid #ccc;
      padding: 8px;
      display: none;
      background: white;
      box-shadow: 0 2px 6px rgba(0,0,0,0.2);
      z-index: 0;
}








    
} /* end portrait */


